---
import { getCollection } from "astro:content";
import FormattedDate from "@/components/FormattedDate.astro";
import Carousel from "./Carousel.astro";
import CarouselSlide from "./CarouselSlide.astro";

const { limit = 5 } = Astro.props;

const formatTag = (tag: string) => {
    return tag
        .toLowerCase()
        .split(" ")
        .map((word) => word.charAt(0)?.toUpperCase() + word.slice(1))
        .join(" ");
};

let posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

// Limit the posts to the latest `limit` posts
posts = posts.slice(0, limit);

const tagCounts: Record<string, number> = {};
const uniqueTags = new Set<string>();
posts.forEach((post) => {
    (post.data.tags || []).forEach((tag) => {
        const normalizedTag = tag?.toLowerCase();
        tagCounts[normalizedTag] = (tagCounts[normalizedTag] || 0) + 1;
        uniqueTags.add(normalizedTag);
    });
});
---

<Carousel class="p-1">
    {
        posts.map((post) => (
            <CarouselSlide
                class="post-item"
                data-tags={post?.data?.tags?.join(",/,").toLowerCase() || ""}
            >
                <a
                    href={`/blog/${post.id}/`}
                    class="flex flex-row justify-center items-center gap-10 mx-20"
                >
                    <img
                        width={720}
                        height={360}
                        src={post.data.heroImage}
                        alt=""
                        class="w-50/100 flex-col items-center justify-center rounded-lg hidden lg:flex aspect-[16/9] object-cover"
                    />
                    <div class="flex-grow flex flex-col justify-center items-center gap-4">
                        <h4 class="title text-4xl text-center">{post.data.title}</h4>
                        <p class="date text-center">
                            <FormattedDate date={post.data.pubDate} />
                            {post.data.updatedDate && (
                                <>
                                    | Last Updated: <FormattedDate date={post.data.updatedDate} />
                                </>
                            )}
                        </p>
                        <ul class="tags w-full flex flex-row flex-wrap gap-2 mt-2 justify-center">
                            {post.data.tags && post.data.tags.length > 0 && (
                                post.data.tags.map((tag) => (
                                    <li>
                                        <button
                                            class="cursor-pointer hover:text-lm-accent dark:hover:text-dm-accent bg-lm-bg dark:bg-dm-bg outline-1 inline-flex items-center rounded-md font-medium text-sm px-3 py-1"
                                            data-tag={tag.toLowerCase()}
                                        >
                                            {formatTag(tag)}
                                        </button>
                                    </li>
                                ))
                            )}
                        </ul>
                    </div>
                </a>
            </CarouselSlide>
        ))
    }
    <CarouselSlide>
        <a href="/blog" class="text-4xl hover:underline underline-offset-12">View All</a>
    </CarouselSlide>
</Carousel>
