---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import BaseBody from './BaseBody.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, tags } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<BaseBody class="gap-10">
		<Header />
		<main class="max-w-[70vw]">
			<article>
				<div class="hero-image flex flex-col items-center justify-between gap-5 mb-10">
					{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
					<div class="title w-full flex flex-row items-center justify-between flex-wrap">
						<h1 class="font-bold text-2xl">{title}</h1>
						<div class="date text-2xl text-right">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
					</div>
				</div>
				<div class="markdown-blog">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</BaseBody>
</html>
